<div ng-controller="GameCtrl">
    <div ng-cloak="" class="tabsdemoDynamicHeight">
        <div class="board-container">
            <div ng-repeat="tile in tiles | hasNoMatch"
                 id="tile-{{tile.tile.id}}"
                 class="tile {{ tile.tile.suit.toLowerCase() }}-{{ tile.tile.name.toLowerCase() }}"
                 ng-click="selectTile(tile)"
                 ng-class="isTheTileSelected(tile.tile.id)"
                 title="{{ tile.tile.suit.toLowerCase() }}-{{ tile.tile.name.toLowerCase() }}"
                 style="left: {{ tile.xPos * 36 }}; top: {{ tile.yPos * 45 }}; z-index: {{ tile.zPos }}">
            </div>
        </div>

        <div class="matched-tiles-container">
            <div class="matched-tile-row odd">
                <div class="input-group">
                      <span class="input-group-btn">
                        <button class="btn btn-default glyphicon glyphicon-search" type="button"></button>
                      </span>
                    <input type="text" class="form-control" placeholder="Search matched tiles" ng-model="searchMatchedTile">
                </div>
            </div>
            <div class="matched-tiles">
                <div ng-repeat="tile in tiles | hasAMatch | removeSameTiles | orderBy: tile.match.foundOn | filter: searchMatchedTile">
                    <div class="matched-tile-row" ng-class="isEvenOrOddRow($index)">
                        <div class="matched-tile-image-container">
                            <div title="{{ tile.tile.suit.toLowerCase() }}-{{ tile.tile.name.toLowerCase() }}"
                                 class="tile {{ tile.tile.suit.toLowerCase() }}-{{ tile.tile.name.toLowerCase() }}">
                            </div>
                        </div>
                        <div class="matched-tile-information-container">
                            <h4>Tile: {{ tile.tile.suit.toLowerCase() }}-{{ tile.tile.name.toLowerCase() }}</h4>
                            <p>By: {{tile.match.foundBy}}</p>
                            <p>On: {{tile.match.foundOn | date: "EEEE dd MMMM yyyy At: HH:mm:ss.sss"}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>