<div ng-controller="GamesCtrl">
    <div class="container">
        <div id="search-row" class="row">
            <table id="search-table">
                <tr>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span ng-if="!filterTemplate">All</span>
                                {{ filterTemplate }}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="">
                                <li><a ng-click="changeFilterTemplate(undefined)" class="clickable">All</a></li>
                                <li ng-repeat="template in templates" class="clickable">
                                    <a ng-click="changeFilterTemplate(template)">{{template}}</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td><input type="text" class="form-control" placeholder="Creator (e-mail)" ng-model="filterCreator" ng-change="search()" /></td>
                    <td><input type="text" class="form-control" placeholder="Player (e-mail)" ng-model="filterPlayer" ng-change="search()" /></td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span ng-if="!filterState">All</span>
                                {{ capitalize(filterState) }}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="">
                                <li><a ng-click="changeFilterState(undefined)" class="clickable">All</a></li>
                                <li ng-repeat="state in states" class="clickable">
                                    <a ng-click="changeFilterState(state)">{{ state }}</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="row">
            <table id="games-table" class="table table-striped">
                <thead>
                    <tr>
                        <th>Template</th>
                        <th>Created by</th>
                        <th>Player info</th>
                        <th>State</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="game in games">
                        <td>{{ game.gameTemplate._id }}</td>
                        <td>{{ game.createdBy._id }}</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle player-button-fixed-width" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ game.players.length }} / {{ game.maxPlayers }} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li role="separator"><a class="unclickable">min. players: {{ game.minPlayers }}</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li ng-repeat="player in game.players" class="clickable"><a href="">{{ player.name }}</a></li>
                                </ul>
                            </div>
                        </td>
                        <td class="text-capitalize">{{ game.state }}</td>
                        <td>
                            <div class="btn-group action-buttons">
                                <button ng-if="isJoinable(game)" ng-click="joinGame(game.id)" class="btn btn-primary">Join</button>
                                <button ng-if="isStartable(game)" ng-click="startGame(game.id)" class="btn btn-info">Start</button>
                                <button ng-if="isPlayable(game)" ng-click="playGame(game.id)" class="btn btn-success">Play</button>
                                <button ng-if="isDeletable(game)" ng-click="deleteGame(game.id)" class="btn btn-danger">Delete</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <button id="btn-new-game" ng-click="showView('newgame')" class="btn center">New game</button>
        </div>
    </div>
</div>