<div ng-controller="GamesCtrl">
    <div class="container">
        <table id="games-list" class="table table-striped">
            <thead>
                <tr>
                    <th>Template</th>
                    <th>Created by</th>
                    <th>Player info</th>
                    <th>State</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="game in games">
                    <td>{{ game.gameTemplate._id }}</td>
                    <td>{{ game.createdBy._id }}</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ game.minPlayers }} - {{ game.maxPlayers }} ({{ games.length }}) <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li ng-repeat="player in game.players"><a href="">{{ player.name }}</a></li>
                            </ul>
                        </div>
                    </td>
                    <td class="text-capitalize">{{ game.state }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>