.text-center {
    text-align: center;
}

.center {
    display: block !important;
    margin: 0 auto;
}

#welcome-box {
    width: 600px;
    margin-top: 200px;
    padding-bottom: 20px;
    border: 2px solid #0d3349;
}

#games-list {
    width: 100%;
    td {
        width: 25%;

        line-height: 35px;
    }
}