@import "variables";

.matched-tile-information-container{
  margin-left: 100px;
}

.matched-tile-row{
  padding: 20px 30px 30px 30px;
}

@mixin game($name, $color) {
  .#{$name} {
    .selected-tile {
      border-style: solid;
      border-radius: 9px;
      border: 5px solid $color;
      padding: 0px 0px 10px 10px;
    }

    .matched-tile-row.even{
      background-color: lighten($color, 50%);
      border: 2px solid lighten($color, 30%);
    }

    .matched-tile-row.odd{
      background-color: lighten($color, 40%);
      border: 2px solid lighten($color, 30%);
    }
  }
}

@each $key, $value in $themes {
  @include game($key, $value);
}
