#search-table {
  width: 100%;
  td {
    width: 25% !important;
  }
  button {
    width: 100%;
  }
}

#games-table {
  td {
    width: 25%;

    line-height: 35px;
  }
}

.search-row {
  border-top: 3px solid lightgrey;
  border-bottom: 3px solid lightgrey;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 5px;
}

.player-button-fixed-width {
  width: 80px;
}

.clickable {
  cursor: pointer;
}

.unclickable {
  &:hover {
    background-color: #FFF !important;
  }
}