.tile {
  position: absolute;
  width: 72px;
  height: 90px;
  background-position: -147px 0px;

  background-image: url(../img/tiles_spritesheet.png);
}

.character-1 {
  background-position: 0px 0px;
}

.character-2 {
  background-position: -72px 0px;
}

.character-3 {
  background-position: -147px 0px;
}

.character-4 {
  background-position: -220px 0px;
}

.character-5 {
  background-position: -293px 0px;
}

.character-6 {
  background-position: -366px 0px;
}

.character-7 {
  background-position: -440px 0px;
}

.character-8 {
  background-position: -512px 0px;
}

.character-9 {
  background-position: -585px 0px;
}

.bamboo-1 {
  background-position: 0px -90px;
}

.bamboo-2 {
  background-position: -73px -90px;
}

.bamboo-3 {
  background-position: -147px -90px;
}

.bamboo-4 {
  background-position: -220px -90px;
}

.bamboo-5 {
  background-position: -293px -90px;
}

.bamboo-6 {
  background-position: -366px -90px;
}

.bamboo-7 {
  background-position: -440px -90px;
}

.bamboo-8 {
  background-position: -512px -90px;
}

.bamboo-9 {
  background-position: -585px -90px;
}

.circle-1 {
  background-position: 0px -180px;
}

.circle-2 {
  background-position: -73px -180px;
}

.circle-3 {
  background-position: -147px -180px;
}

.circle-4 {
  background-position: -220px -180px;
}

.circle-5 {
  background-position: -293px -180px;
}

.circle-6 {
  background-position: -366px -180px;
}

.circle-7 {
  background-position: -440px -180px;
}

.circle-8 {
  background-position: -512px -180px;
}

.circle-9 {
  background-position: -585px -180px;
}

.wind-north {
  background-position: 365px 0px;
}

.wind-east {
  background-position: 219px 0px;
}

.wind-south {
  background-position: 292px 0px;
}

.wind-west {
  background-position: 146px 0px;
}

.dragon-green {
  background-position: -951px -270px;
}

.dragon-red {
  background-position: -951px -90px;
}

.dragon-white {
  background-position: -951px -180px;
}

.season-spring {
  background-position: 365px -90px;
}

.season-summer {
  background-position: 292px -90px;
}

.season-autumn {
  background-position: 219px -90px;
}

.season-winter {
  background-position: 146px -90px;
}

.flower-bamboo {
  background-position: 365px -180px;
}

.flower-plum {
  background-position: 292px -180px;
}

.flower-orchid {
  background-position: 219px -180px;
}

.flower-chrysantememum {
  background-position: 146px -180px;
}