.tile {
  position: absolute;
  width: 72px;
  height: 90px;
  background-position: -147px 0px;

  background-image: url(../img/tiles_spritesheet.png);
}

.tile-character-1 {
  background-position: 0px 0px;
}

.tile-character-2 {
  background-position: -72px 0px;
}
//
.tile-character-3 {
  background-position: -147px 0px;
}

.tile-character-4 {
  background-position: -220px 0px;
}

.tile-character-5 {
  background-position: -293px 0px;
}

.tile-character-6 {
  background-position: -366px 0px;
}

.tile-character-7 {
  background-position: -440px 0px;
}

.tile-character-8 {
  background-position: -512px 0px;
}

.tile-character-9 {
  background-position: -585px 0px;
}

.tile-bamboo-1 {
  background-position: 0px -90px;
}

.tile-bamboo-2 {
  background-position: -73px -90px;
}

.tile-bamboo-3 {
  background-position: -147px -90px;
}

.tile-bamboo-4 {
  background-position: -220px -90px;
}

.tile-bamboo-5 {
  background-position: -293px -90px;
}

.tile-bamboo-6 {
  background-position: -366px -90px;
}

.tile-bamboo-7 {
  background-position: -440px -90px;
}

.tile-bamboo-8 {
  background-position: -512px -90px;
}

.tile-bamboo-9 {
  background-position: -585px -90px;
}

.tile-circle-1 {
  background-position: 0px -180px;
}

.tile-circle-2 {
  background-position: -73px -180px;
}

.tile-circle-3 {
  background-position: -147px -180px;
}

.tile-circle-4 {
  background-position: -220px -180px;
}

.tile-circle-5 {
  background-position: -293px -180px;
}

.tile-circle-6 {
  background-position: -366px -180px;
}

.tile-circle-7 {
  background-position: -440px -180px;
}

.tile-circle-8 {
  background-position: -512px -180px;
}

.tile-circle-9 {
  background-position: -585px -180px;
}

.tile-wind-north {
  background-position: -658px -90px;
}

.tile-wind-east {
  background-position: -732px -90px;
}

.tile-wind-south {
  background-position: -805px -90px;
}

.tile-wind-west {
  background-position: -878px -90px;
}

.tile-dragon-green {
  background-position: -951px -90px;
}

.tile-dragon-red {
  background-position: -951px -180px;
}

.tile-dragon-white {
  background-position: -951px -270px;
}

.tile-season-spring {
  background-position: -658px -180px;
}

.tile-season-summer {
  background-position: -732px -180px;
}

.tile-season-autumn {
  background-position: -805px -180px;
}

.tile-season-winter {
  background-position: -878px -180px;
}

.tile-flower-bamboo {
  background-position: -659px -270px;
}

.tile-flower-plum {
  background-position: -732px -180px;
}

.tile-flower-orchid {
  background-position: -805px -180px;
}

.tile-flower-chrysantememum {
  background-position: -878px -180px;
}