#navbar {
    background-color: #2b81af;
    margin-bottom: 10px;
}

#navbar ul {
    height: 40px;
    margin: 0;
    padding: 0;

    list-style-type: none;
}

#navbar li {
    float: left;
}

#navbar ul li a {
    display: block;
    padding: 10px 15px;

    font-family: "Segoe UI", sans-serif;
    text-decoration: none;
    color: #FFF;

    cursor: pointer;
}

#navbar ul li a:hover {
    background-color: #FFF;

    color: #2b81af;
}

.nav-selected {
    background-color: #FFF;

    color: #2b81af;
}

.nav-float-right {
    float: right !important;
}