<div>
    <div class="container">
        <div id="welcome-box" class="center">
            <h1 class="text-center">{{ welcome_msg }}</h1>
            <button class="btn center" ui-sref="games">Click here to play</button>

            <div ng-controller="ThemeCtrl" class="center">
                <section id="theme-controls" class="controls">
                    <h4 class="text-center">Select your theme:</h4>
                    <div id="theme-control-container">
                        <button ng-repeat="theme in themes" class="controls btn" data-theme="{{ theme.theme }}" ng-click="changeThemeOnClick(theme.theme)">
                            {{ theme.name }}
                        </button>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>